*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: burlywood;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

h1{
    text-align: center;
    margin-top: 2%;
}

h2{
    text-align: center;
}

#computer{
    display: block;
    border: solid black 1px;
}
#countWin{
    padding-right: 10px;
}

#reset{
    text-decoration-line: none;
    border-radius: 20px;
    width: 80px;
    font-size: 2rem;
    margin-left: 48%;
    margin-bottom: 2%;
    margin-top: 2%;
}

p{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1%;
    padding-top: 1%;
}

#setWin{
    color: indianred;
    font-size: 3rem;
}

#règles{
    text-align: center;
    padding-bottom: 2%;
}

ul li{
    padding-top: 1%;
}

h3{
    text-decoration-line: underline;

}

#won{
    padding: 1%;
    border: solid red 2px;
    width: 15%;
    margin-left: 43%;
    border-radius: 15px;
    font-size: 6rem;
    margin-bottom: 2%;
}